In [ ]:
nums=[2,7,11,15]
l1=[]
def sum1():
    for i in range(1,len(nums)):
        for j in range(len(nums)-1,-1,-1):
            if nums[i]+nums[j]==17:
                l1.append(i)
                l1.append(j)
    return l1

In [ ]:
l1=[]
for i in range(len(nums)-1):
    for j in range(len(nums)-1,-1,-1):
        if nums[i]+nums[j]==target:
            l1.append(i)
            l1.append(j)
        if len(l1)==2:
            break
        return l1

In [ ]:
n=int(input())
if n%3==0 and n%5==0:
    print("n is a multiple of 3 and 5")
elif n%3==0 and n%5!=0:
    print("Multiple of 3 only")
elif n%3!=0 and n%5==0:
    print("Multiple of 5 only")
else:
    print("Invalid input")

In [ ]:
#Find the hcf of a number
num1,num2=map(int,input().split())
hcf=1
smaller=num1 if num1<num2 else num1
for i in range(1,smaller+1):
    if(num1%i==0 and num2%i==0):
        hcf=i
print("The hcf of the given numbers is: "+str(hcf))

In [ ]:
n=int(input())
s=input()
k=list(s)
cnt=0
for i in range(n):
    if k[i]!=k[-(i+1)]:
        k.pop()
        cnt+=1
        if k[i]==k[-(i+1)]:
            print(cnt)

In [ ]:
complex_number=complex(3,8)
print(complex_number, type(complex_number))

In [ ]:
#

In [ ]:
for i in range(100):
    if i==50:
        break
    print(i,end=" ")

In [ ]:
for i in range(100):
    if i==50:
        continue
    print(i,end=" ")

In [ ]:
for i in range(100):
    if i==50:
        pass
    print(i,end=" ")

In [ ]:
def fun1(n1,n2):
    return n1+float(n2)
print("Value returned",fun1(10.2,'20'))
#print()__str__

In [ ]:
#positional arguments
def fun1(n1,n2,n3,n4):
    print("n1",n1,"n2",n2,"n3",n3,"n4",n4)
fun1(10,20,21,22)

In [ ]:
#Keyword arguments
def fun2(n1,n2,n3=2,n4=10):
    print("n1",n1,"n2",n2,"n3",n3,"n4",n4)
fun2(n2=33,n1=44,n4=30)

In [ ]:
#variable number of arguments
def fun3(*var):
    for i in var:
        print(i,end=' ') 
fun3(10,20)
print()
fun3(10,20,30,40)

In [ ]:
def add(*var):
    sum1=0
    for i in var:
        sum1=sum1+i
    return(sum1)
print(add(10,20))
print(add(20,45,55))

In [ ]:
x,y,z=map(int,input().split())
c1=z%5
c2=z//5
print(c1,c2)

In [ ]:
print("Enter your currency: ")
curr=input()
n=int(input())
if curr=="Euro":
    print(0.0147*n)
elif curr=="British Pound":
    print(n*0.0100)
elif curr=="Australian Dollar":
    print(n*0.02140)
elif curr=="Canadian Dollar":
    print(n*0.02027)
else:
    print(-1)

In [ ]:
#rate per adult=Rs.3750.0 and per child =1/3rd of the rate for adult
#tax=7% of thw whole ticket price
#10%discount for final ticket
def ticket_price(na,nc):
    tax=0.07*((na*37550)+(nc*12516))
    return (na*37550)+(nc*12516)+tax
na=int(input())
nc=int(input())
ticket_price(na,nc)

In [ ]:
#Method 1
text=input()
l=[0,0]
for ch in text:
    if ch.isnumeric()==True:
        l[1]+=1
    elif ch.isalpha()==True:
        l[0]+=1
print(l)

In [ ]:
l=list(map(int,input().split()))
l.sort()
print(l)

In [ ]:
#naive approach
def sumn(l,n):
    cnt=0
    for i in range(0,len(l)):
        for j in range(i+1,len(l)):
            if l[i]+l[j]==n:
                cnt+=1
    return cnt 
l=list(map(int,input().split()))
n=int(input())
sumn(l,n)

In [ ]:
#optimized approach
#sort the list
#initialize i and j as start and end index of the array 
# if sum of i and j== sum then increment both by 1 if sum>su then decrement j or increment i
def pair_of_numbers(l,su):
    l.sort()
    i=0
    cnt=0
    j=len(l)-1
    while i<j:
        if l[i]+l[j]<su:
            i+=1
        elif l[i]+l[j]>su:
            j-=1
        elif l[i]+l[j]==su:
            cnt+=1
            i+=1
            j-=1
    return cnt
pair_of_numbers([1,2,3,5,4,6],9)

#### python function which accepts a string and return a string made of the first two and the last two characters.If string length is <2 return -1

In [ ]:
str=input()
s1=str[:2]
s2=str[-2:]
print(s1+s2)
print(str[-3:])

In [ ]:
str=input()
if str[-3:]=="ing":
    print(str+'ly')
elif str[-3:]!="ing":
    print(str+"ing")
elif len(str)<3:
    print(str)

In [ ]:
#return true if the number and its double have the same digits
def check_double(num):
    double=num*2
    if len(str(num))==len(str(double)):
        l1=list(str(num)).sort()
        l2=list(str(double)).sort()
        if l1==l2:
            return True
        else:
            return False
num=int(input())
check_double(num)

In [ ]:
def find_more_than_avg(marks):
    avg=sum(marks)/len(marks)
    cnt=0
    for ele in marks:
        if ele>avg:
            cnt+=1
    print((cnt/len(marks))*100)
def generate_frequency(marks):
    freq=[0]*25
    for ele in marks:
        freq[ele-1]+=1
    print(freq)
    print(sorted(marks))
#marks=tuple(map(int,input().split()))
#marks=list(marks) 
generate_frequency((12,18,25,24,2,5,18,20,20,21))
find_more_than_avg((12,18,25,24,2,5,18,20,20,21))

In [ ]:
def translate(swedish,englist):
    for i in englist.split(' '):
        print(swedish[i],end=" ")
swedish={"merry":"god","christmas":"jul","and":"och","happy":"gott","new":"nytt","year":"ar"}
englist=input()
translate(swedish,englist)

In [ ]:
x,y=map(int,input().split())
l=[i for i in range(x,y+1)]
cnt=0
for i in range(len(l)):
    for j in range(i+1,len(l)+1):
        if sum(l[i:j])%2!=0:
            cnt+=1
print(cnt)

In [ ]:
n1,n2=map(int,input().split())
array=[i for i in range(n1,n2+1)]
print(array)
result=[]
#for i in range(len(array)):
    #for j in range(i,len(array)):
        #result.append(array[i:j+1])
result=[array[i:j+1] for i in range(len(array)) for j in range(i,len(array))]
print(result)

In [ ]:
#List comprehensions
#For loop
forloop=[]
n=int(input())
for i in range(1,n+1):
    forloop.append(i)
print("Using for loop", forloop)

In [ ]:
#Using list comprehensions
l=[i for i in range(1,n+1)]
print("Using list comprehensions", l)

In [ ]:
x=int(input())
print([i if i%2!=0 else i**2 for i in range(x)])

In [ ]:
print([i**3 if i%2==0 else i**2 for i in range(x)])

In [14]:
#Using for loop
result=[]
mat=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
for i in range(len(mat)):
    for j in range(len(mat[0])):
        if mat[i][j]%2==0:
            mat[i][j]**=3
        else:
            mat[i][j]**=2
print(mat)

[[1, 8, 9, 64], [25, 216, 49, 512], [81, 1000, 121, 1728], [169, 2744, 225, 4096]]

In [11]:
#using list comprehensions
[mat[i][j]**3 if mat[i][j]%2==0 else mat[i][j]**2 for i in range(len(mat)) for j in range(len(mat[0]))]

[[1, 8, 9, 64, 25, 216, 49, 512, 81, 1000, 121, 1728, 169, 2744, 225, 4096]]

In [31]:
result=[]
mat=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
for i in range(len(mat)):
    res=[]
    for j in range(len(mat[0])):
        if mat[i][j]%2==0:
            res.append(mat[i][j]**3)
        else:
            res.append(mat[i][j]**2)
    result.append(res)
print(result)

[[1, 8, 9, 64], [25, 216, 49, 512], [81, 1000, 121, 1728], [169, 2744, 225, 4096]]

In [32]:
#for each number in lsit_b,get the number and its position(index) in mylist as turnlist of tuples
my_list=[9,3,6,1,5,0,8,2,4,7]
list_b=[6,4,6,1,2,2]
result=[]
for i in range(len(list_b)):
    newtuple=(list_b[i],my_list.index(list_b[i]))
    result.append(newtuple)
print(result)

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [36]:
[(list_b[i],my_list.index(list_b[i])) for i in range(len(list_b))]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

In [38]:
#Dictionary comprehension
result={ele: my_list.index(ele) for ele in list_b}
print(result)

{6: 2, 4: 8, 1: 3, 2: 7}

In [45]:
#tokenize the following sentences into words
sentences=["a new world record is set","in the holy city of ayodhya","on the eve of diwali on tuesday","with over three lakh diyas or earthen lamps","lit up simultaneously on the banks of surya river"]
stopwords=['for','a','of','the','and','to','in','on','with','was']
result=[]
for i in sentences:
    for ch in i.split():
        if ch not in stopwords:
            result.append(ch)
print(result)

['new', 'world', 'record', 'is', 'set', 'holy', 'city', 'ayodhya', 'eve', 'diwali', 'tuesday', 'over', 'three', 'lakh', 'diyas', 'or', 'earthen', 'lamps', 'lit', 'up', 'simultaneously', 'banks', 'surya', 'river']

In [48]:
[ch for i in sentences  for ch in i.split() if ch not in stopwords]

['new',
 'world',
 'record',
 'is',
 'set',
 'holy',
 'city',
 'ayodhya',
 'eve',
 'diwali',
 'tuesday',
 'over',
 'three',
 'lakh',
 'diyas',
 'or',
 'earthen',
 'lamps',
 'lit',
 'up',
 'simultaneously',
 'banks',
 'surya',
 'river']

In [55]:
#input a string of comma separated numbers.the nos 5 and 8 are present in the list assuming 8 always comes after 5.
#case1=add all the nos which do not lie between 5 and 8 in the ip
#case: num2= number formed by concatenation of all nos between 5 and 8
#input=3,2,6,5,1,4,8,9
#num1=3+2+6+9=20 num2=5148 o/p=5148+20=5168
l=list(map(int,input().split()))
num1=0
num2=''
for i in range(len(l)):
    if i<l.index(5) or i>l.index(8):
        num1+=l[i]
    elif i>=l.index(5) and i<l.index(8):
        num2=str(num2)+l[i]
print(num1)
print(num2)

3 2 6 5 1 4 8 9

TypeError: can only concatenate str (not "int") to str

In [56]:
#i/p: rhdt:246,ghftd:1246. Here every string is associated with a number sp by :. If sum of squares of digits is even
#THEN rotate the string by 1.
#if odd then rotate the string left by 2
#2*2+4*4+6*6=56 is even so rotate rhdt=trhd

In [ ]:
#Given a number n, wap to find the sum of the largest prime factors of each of nine consecutive numbers starting from n.
n=int(input())
def isPrime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count+=1
    if count==2:
        return n
    else:
        return -1
def primefactor():